<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Location" value="LocationTest" />
    <add key="AcquisitionCountNodeID" value="AqqTest" />
  </appSettings>
  <CognexCameras>
    <!--Add Cameras here as needed follow camera template-->
    <Camera name="CameraTemplate" endpoint="ipAddress:port">
      <MonitoredTags>
        <!--Add tags here as needed follow tag template updateRate is in milliseconds-->
        <Tag browseName="browseName" name="templateTag" updateRate="1000" nodeID="nodeId"/>
      </MonitoredTags>
    </Camera>
  </CognexCameras>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="dbTest" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>