<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <CognexCameras>
    <!--Add Cameras here as needed follow camera template-->
    <Camera name="CameraTemplate" endpoint="ipAddress:port">
      <MonitoredTags>
        <!--Add tags here as needed follow tag template updateRate is in milliseconds-->
        <Tag browseName="browseName" name="templateTag" updateRate="1000" nodeID="nodeId"/>
      </MonitoredTags>
    </Camera>
  </CognexCameras>
  <Database>
    <ConnectionString>ConnectionString</ConnectionString>
  </Database>
</configuration>